@charset "utf-8";
/* CSS Document */


*{
		font-family: 'Island Moments', cursive;
font-family: 'Roboto Condensed', sans-serif;
	}
hr {
    padding: 0px;
    margin: 0px;
    height: 3px;
}
#one {
    font-size: 18px;

    color: black;
}
h2 {
   
}
img {
    width: 100px;
    height: 90px;
}
	
	.container-fluid{
		
	
	}
	
	
	.kapsayici{
		width: 100%;
		height: 100vh;
		background: url( "ımage/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg");
		background-size: cover;
}

